/*
* Site Portfolio Marcos Pelaez Web Design
* Autor: Marcos Antonio Pelaez de Sousa
* Data: 19/10/2023
*/

/* Geral Config */

/* Resset CSS */
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Fonts - Audiowid / Roboto */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Color palette */
:root {
    --site-bg-color: #030081;
    --primary-color: #1998FF;
    --secondary-color: #007FE7;
    --tertiary-color: #00569C;
    --complementary-color-1: #E88D00;
    --complementary-color-2: #9C5F00;
    --btn-text-color: #FFC700;
}
/* End Geral Config */

/* Website development */

/* Body and general div - Config */
body { background-color: #E9E9E9; }

.general-container{
    max-width: 1440px;
    margin: 5px auto;
    background-color: var(--site-bg-color);
}

/* HEADER */
.container-header{
    width: 100%;
    display: grid;
    padding: 1.25rem 0 1.25rem 0; /* 20px */
    gap: 1.25rem;
}

.container-header div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logotipo */
.logo{
    width: 6.25rem; /* 100px */
}

/* name title */
.name-title{
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    justify-self: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.name-title h1, .name-title h3 {
    font-family: 'Audiowide', sans-serif;
    font-size: 2rem; /* 32px */
}

.name-title h1{
    color: var(--complementary-color-1);
}
.name-title h3{
    color: var(--secondary-color);
}

#btn-appear{ display: block; }
#btn-appear-2{ display: none; }

/* menu config */
.menu-container{
    display: flex;
    flex-direction: column;
}

.nav-menu{
    width: 100%;
    transition: 2s;
}

.nav-menu ul{
    width: 60%;
    background-color: var(--complementary-color-1);
    padding: 1.875rem 0  5rem 0; /* 30px 0 80px 0 */
    position: absolute;
    margin-top: -11.25rem; /* -180px */
    z-index: 100;
}

.nav-menu ul img{
    width: 2.5rem; /* 40px */
    position: relative;
    right: -136%;
    cursor: pointer;
}

.nav-menu ul hr{
    width: 150%;
    border: 1px solid var(--secondary-color);
}

.nav-menu ul li{
    width: 80%;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0.5rem; /* 8px */
    padding: 0.375rem; /* 6px */
    border: 1px solid #000000;
}

.link-menu {
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5rem; /* 24px */
    color: var(--btn-text-color);
    text-decoration: none;
    transition: 600ms;
}

.link-menu:hover {
    color: var(--site-bg-color);
    font-size: 1.25rem; /* 20px */
}

/* Open and Close menu */
.menu-closed{
    margin-left: -200%;
}
.menu-opened{
    margin-left: 0;
}

/* hamburger button */
.btn-menu{
    background-color: var(--primary-color);
    padding: 0.625rem 0 0.625rem 0; /* 10px */
}

.btn-menu:hover{
    cursor: pointer;
}

.malha{
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: #000000;
    opacity: 0.4;
    text-align: right;
    transition: 2s;
}

/* end menu config */

/* HEADER - Tablet */
@media screen and (min-width: 780px){
    .container-header{
        display: flex;
    }

    .logo{ width: 9.375rem; } /* 150px */

    .name-title h1, .name-title h3{
        font-size: 2.375rem; /* 38px */
     }

     #btn-appear{ display: none; }
     #btn-appear-2{ display: block; }

     /* hamburger button */
    .btn-menu{
        background-color: var(--site-bg-color);
    }

    .nav-menu ul {
        margin-top: -8rem;
        margin-left: -58%;
    }

    .malha { transition: 1.5s; }

    .menu-closed{ margin-left: -700%;}
    .menu-opened{ margin-left: -69%;}

    .name-title h1, .name-title h3{
        font-size: 2.375rem; /* 38px */
     }
}

/* HEADER - Desktop */
@media screen and (min-width: 1200px){

    .menu-closed{ margin: 0; }
    .menu-opened{ margin: 0; }

    #btn-appear { display: none; }
    #btn-appear-2{ display: none; }
    .nav-menu ul img{ display: none; }
    .nav-menu ul hr { display: none; }
    .malha { position: relative; display: none !important; }

    .container-header {
        width: 0;
    }
     
    .container-header div{
        width: auto;
        margin-left: 10px;
        margin-right: 50px;
    }

    .nav-menu ul {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: var(--site-bg-color);
        position: static;
        list-style: none;
        display: flex;
     }
     .nav-menu ul li {
        width: 40%;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: var(--site-bg-color);
    }

    .nav-menu ul li a{
        list-style: none;
    }

    .nav-menu ul li{
        padding-right: 60px;
    }

    .name-title h3{
        width: 243px;
    }

    .sobre-eu{
        display: block;
        width: 126px;
    }

    .link-menu{ color: var(--complementary-color-1); }

    .link-menu:hover{
        color: var(--primary-color);
        font-size: 1.5rem; /* 20px */
     }

}

/* HEADER desktop Ajuste */
@media screen and (min-width: 1300px){
    .container-header div{
        margin-right: 80px
     }
}

@media screen and (min-width: 1440px){
    .container-header div{
       margin-right: 150px
    }
 }