

/* HEADER */
.container-header{
    width: 100%;
    display: grid;
    padding: 1.25rem 0 1.25rem 0; /* 20px */
    gap: 1.25rem;
}

.container-header div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* logotipo */
.logo{
    width: 6.25rem; /* 100px */
}

/* name title */
.name-title{
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    justify-self: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.name-title h1, .name-title h3 {
    font-family: 'Audiowide', sans-serif;
    font-size: 2rem; /* 32px */
}

.name-title h1{
    color: var(--complementary-color-1);
}
.name-title h3{
    color: var(--secondary-color);
}

#btn-appear{ display: block; }
#btn-appear-2{ display: none; }

/* menu config */
.menu-container{
    display: flex;
    flex-direction: column;
}

.nav-menu{
    width: 100%;
    transition: 2s;
}

.nav-menu ul{
    width: 60%;
    background-color: var(--complementary-color-1);
    padding: 1.875rem 0  5rem 0; /* 30px 0 80px 0 */
    position: absolute;
    margin-top: -11.25rem; /* -180px */
    z-index: 100;
}

.nav-menu ul img{
    width: 2.5rem; /* 40px */
    position: relative;
    right: -136%;
    cursor: pointer;
}

.nav-menu ul hr{
    width: 150%;
    border: 1px solid var(--secondary-color);
}

.nav-menu ul li{
    width: 80%;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0.5rem; /* 8px */
    padding: 0.375rem; /* 6px */
    border: 1px solid #000000;
}

.link-menu {
    font-family: 'Audiowide', sans-serif;
    font-size: 1.5rem; /* 24px */
    color: var(--btn-text-color);
    text-decoration: none;
    transition: 600ms;
}

.link-menu:hover {
    color: var(--site-bg-color);
    font-size: 1.25rem; /* 20px */
}

/* Open and Close menu */
.menu-closed{
    margin-left: -200%;
}
.menu-opened{
    margin-left: 0;
}

/* hamburger button */
.btn-menu{
    background-color: var(--primary-color);
    padding: 0.625rem 0 0.625rem 0; /* 10px */
}

.btn-menu:hover{
    cursor: pointer;
}

.malha{
    width: 100%;
    position: absolute;
    height: 100vh;
    background-color: #000000;
    opacity: 0.4;
    text-align: right;
    transition: 2s;
}

/* end menu config */

 /* Sobre mim - section - MOBILE */

 .about {
    width: 85%;
    margin: 10px auto;
    border: 1px solid var(--primary-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .about2{display: none;}

 .foto-title {
    text-align: center;
 }

 .foto-perfil{
    margin: 20px 0;
 }

 .title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--btn-text-color);
    font-weight: bold;
 }

 .about-description{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--btn-text-color);
    margin: 20px 0;
 }

 .about-button{
    width: 80%;
    margin: 20px 0;
    padding: 5px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--btn-text-color);
    font-weight: bold;
    transition: 1s;
 }

 .about-button:hover{
    background-color: var(--site-bg-color);
    border: 1px solid #ffffff;
    font-size: 22px;
 }

 /* Skills Section */

 .div-line1 {
    width: 30%;
    margin-top: 1.25em; /*20px*/
 }

 .div-line1, .div-line2 {
    border: 1px solid var(--primary-color);
 }

 .skills h2, .contact-form h2 {
    font-family: 'Audiowide', sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    color: var(--complementary-color-1);
    letter-spacing: 0.125em; /*2px*/
    margin: 0.625em; /*10px*/
 }

 .items-skills {
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.375em; /*6px*/
    margin-top: 0.625em; /*10px*/
 }

 .item-skill {
    text-align: center;
    margin-bottom: 30px;
 }
 
 .item-skill img {
    width: 2.5em; /*40px*/
    margin-bottom: 0.625em;
 }

 .item-skill h3, .item-skill h4 {
    font-family: 'Audiowide', sans-serif;
    font-size: 0.75em; /*12px*/
    font-weight: 400;
    color: var(--btn-text-color);
 }

 .design-grafico {
    padding-top: 1em; /*16px*/
 }

 /* Mobile adjustment skills section */

 @media screen and (min-width: 500px) {

    .item-skill img {
        width: 3.2em; /*~50px*/
     }
     
     .item-skill h3, .item-skill h4 {
        font-size: 0.875em; /* 14px */
     }

 }

 /* Contact form section */
 .form-text {
    width: 80%;
    margin: 1.25em /* 20px */ auto;
 }

 form {
    display: flex;
    flex-direction: column;
 }

 form label {
    font-family: 'Roboto', sans-serif;
    font-site: 0.75em; /* 12px */
    font-weight: bold;
    color: var( --btn-text-color);
 }

 form input {
    height: 1.875em; /* 30px */
 }

 form label, form input, form textarea {
    margin-bottom: 0.94em; /* ~15px */
 }

 form input, form textarea {
    border: 1px solid var(--primary-color);
    border-radius: 0.375em; /* 6px */
 }

 .btn-submit {
    width: 100%;
    margin: 0.625em /* 10px */ 0;
    padding: 0.32em; /* ~5px */
    background-color: var(--primary-color);
    border: 0;
    border-radius: 1.25em; /* 20px */
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em; /* 24px */
    color: var(--btn-text-color);
    font-weight: bold;
    transition: 1s;
    letter-spacing: 0.375em /* 6px */
}

.btn-submit:hover{
    background-color: var(--site-bg-color);
    border: 1px solid #ffffff;
    font-size: 22px;
 }

 /* Mobile adjustment contact form section */

 @media screen and (min-width: 500px) {

    .form-text {
        width: 70%;
    }

    form input {
        height: 2.5em; /* 40px */
     }

 }

