/* HEADER - Tablet */
@media screen and (min-width: 780px){
   .container-header{
       display: flex;
   }

   .logo{ width: 9.375rem; } /* 150px */

   .name-title h1, .name-title h3{
       font-size: 2.375rem; /* 38px */
    }

    #btn-appear{ display: none; }
    #btn-appear-2{ display: block; }

    /* hamburger button */
   .btn-menu{
       background-color: var(--site-bg-color);
   }

   .nav-menu ul {
       margin-top: -8rem;
       margin-left: -58%;
   }

   .malha { transition: 1.5s; }

   .menu-closed{ margin-left: -700%;}
   .menu-opened{ margin-left: -69%;}

   .name-title h1, .name-title h3{
       font-size: 2.375rem; /* 38px */
    }


/* Sobre mim - section - TABLET */

   .about {
       width: 60%;
       margin-top: 30px;
    }


    .foto-title {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 20px;
    }

    .title-name {
       font-size: 32px;
    }
 
    .title-job {
       font-size: 28px;
    }

    .foto-perfil {
       margin-right: 30px;
    }

    .about-description {
       font-size: 24px;
       margin: 0;
       font-weight: 400;
    }

    .about-button {
       width: 100%;
       font-size: 24px;
       letter-spacing: 5px;
       margin: 30px 0;
       padding: 30 50px;
    }

    .div-line {
       border: 1px solid var(--primary-color);
    }

    /* Skills sections */

    .item-skill img {
     width: 4.375em; /*70px*/
  }
  
  .item-skill h3, .item-skill h4 {
     font-size: 1.25em; /* 20px */
  }
  /* Contact form section */

  .form-text {
     width: 65%;
 }

 /* Footer */

 footer {
  padding: 0 6.25em;
}

 footer h3 {
   font-size: 30px;
 }


 /* ******ABOUT ME PAGE****** */

 .div-line {
  width: 90%;
  margin: 0 auto;
 }

 .about-container {
  margin-top: 20px;
 }

 .perfil-sobre {
  width: 150px;
 }

 .title-perfil, .job-perfil {
  font-size: 35px;
 }

 .perfil-article h2 {
  width: 30%;
  }

  .perfil-article p {
     font-size: 18px;
 }

 .perfil-article p a {
  font-size: 20px;
 }
}

/* Tablet adjustment contact form section */

@media screen and (min-width: 700px) {

  form input {
      height: 3.125em; /* 50px */
   }

}