
/* Sobre mim - section - DESKTOP */
@media screen and (min-width: 960px){
   .about{display: none;}
   .about2{display: flex; flex-direction: column;}

   .div-line{
       width: 90%;
       margin: 0 auto;
    }

    .apresentation-title{
       display: flex;
       align-items: center;
       justify-content: space-between;
       width: 80%;
       margin: 0 auto 50px auto;
    }

    .apresentation-title h3{
       color: #FFC700;
       font-family: Audiowide;
       font-size: 80px;
       font-weight: 400;
       align-self: start;
       margin: 20px;
    }

    .foto-perfil{
       width: 12.5rem; /* 200px */
    }

    .photo-apresentation h5{
       color: #E88D00;
       font-family: Audiowide;
       font-size: 40px;
       font-weight: 400;
    }
    .apresentation-title h4{
       color: #1998FF;
       font-family: Audiowide;
       font-size: 40px;
       font-weight: 400;
       align-self: start;
       margin-top: 20px;
       text-align: right;
    }
    .apresentation-description{
       text-align: center;
    }
    .about-description{
       font-size: 30px;
       margin-bottom: 30px;
    }

    .about-button{
       width: 400px;
    }

    /* Skills section */

    .skills {
      text-align: center;
    }

    .div-line1, .div-line2 {
      width: 90%;
      margin: auto;
   }
  
   .skills h2 {
      font-size: 2.5em; /* 40px */
   }

   .items-skills {
      margin-top: 1.25em; /*20px*/
   }

   /* Contact form section */

   .contact-form h2 {
      text-align: center;
      font-size: 2.5em; /* 40px */
   }
}

/* Contact form secton - btn submit adjustment */
@media screen and (min-width: 1000px) {
   .btn-submit {
      height: 2.5em; /* 50px */
      margin: 1.25em auto; /* 20px */
      font-size: 1.87em; /* ~30px */
   }
}


/* HEADER - Desktop */
@media screen and (min-width: 1200px){

    .menu-closed{ margin: 0; }
    .menu-opened{ margin: 0; }

    #btn-appear { display: none; }
    #btn-appear-2{ display: none; }
    .nav-menu ul img{ display: none; }
    .nav-menu ul hr { display: none; }
    .malha { position: relative; display: none !important; }

    .container-header {
        width: 0;
    }
     
    .container-header div{
        width: auto;
        margin-left: 10px;
        margin-right: 50px;
    }

    .nav-menu ul {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: var(--site-bg-color);
        position: static;
        list-style: none;
        display: flex;
     }
     .nav-menu ul li {
        width: 40%;
        margin: 0;
        padding: 0;
        border: 0;
        background-color: var(--site-bg-color);
    }

    .nav-menu ul li a{
        list-style: none;
    }

    .nav-menu ul li{
        padding-right: 60px;
    }

    .name-title h3{
        width: 243px;
    }

    .sobre-eu{
        display: block;
        width: 126px;
    }

    .link-menu{ color: var(--complementary-color-1); }

    .link-menu:hover{
        color: var(--primary-color);
        font-size: 1.5rem; /* 20px */
     }

     /* contact section button */
     .btn-submit {
        font-size: 2.19em; /* ~35px */
     }

}

/* HEADER desktop Ajuste */
@media screen and (min-width: 1300px){
    .container-header div{
        margin-right: 5em; /* 80px */
     }
}

@media screen and (min-width: 1440px){
    .container-header div{
       margin-right: 9.375em; /* 150px */
    }
 }

 

 /* Sobre mim - section - DESKTOP Adjustment */
 @media screen and (min-width: 1200px){
    .apresentation-title h4{
        text-align: center;
     }
 }

 @media screen and (min-width: 1224px){
    .apresentation-title h3{
        font-size: 90px;
     }
     .apresentation-title h4{
        font-size: 50px;
     }
     .photo-apresentation h5{
        font-size: 50px;
     }
     .about-description{
        font-size: 40px;
     }
     .about-button{
        width: 450px;
     }
 }